html
  head 
    title Visualization of algorithms
    style 
        include ../static/base.css 
    block style 
  body
    nav#navbar 
        ul 
            li #[a(href="/") Home]
            li #[a(href="/searching") Searching]
            li #[a(href="/sorting") Sorting]
    block content
             