extends base.pug
block style 
    style 
        include ../static/searching.css
block content 
    div.para
        div#para1 Searching Algorithms are designed to check for an element or retrieve an element from any data structure where it is stored.
        div#para2 Based on the type of search operation, these algorithms are generally classified into two categories:
        div.head
            ul 
                li #[a(href="/linear") 1. Sequential Search:]
        div#para3 In this, the list or array is traversed sequentially and every element is checked. For example: Linear Search.
        div.head
            ul 
                li #[a(href="/binary") 2. Interval Search:]
        div#para4 These algorithms are specifically designed for searching in sorted data-structures. These type of searching algorithms are much more efficient than Linear Search as they repeatedly target the center of the search structure and divide the search space in half. For Example: Binary Search.

